:root{

    /* background colors */
    --backgroundColor :#FEFAF5;
    --backgroundNav:#ffffff;

    /* Colors */
    --primaryColor: #335576;
    --accentColor:#DB7A4E;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
    
}
li{
    list-style-type: none;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    width: 90%;
    /* border: 1px dashed black; */
    margin:0 auto;
}
.container--small{
    width: 860px;
    margin:0 auto;

}

/* navbar styling */
.nav{
    background-color: var(--backgroundNav);
    position: sticky;
    z-index: 1;
    top: 0;
    animation: 1s ease-out slideDown;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;

}
.navbar__list{
    display: flex;
}
.navbar__items{
    padding: .5rem;
    /* margin: 0.5rem;    */
}
.site-logo{
    padding: .5rem .5rem .5rem 0;
}
.navbar__items{
    margin: 0.5rem 0 0.5rem 0.5rem;

}
.site-logo{
margin: 0.5rem 0.5rem 0.5rem 0;
}
.site-logo{
    font-weight: bold;
    color: var(--primaryColor);
}
.active{
    border-bottom: 2px solid var(--accentColor);
}


.navbar__items:hover{
    border-bottom: 2px solid var(--accentColor);
}




/* hero section animation  */
.earth{
    animation:  1s ease-in-out scaleContent, 180s linear 1.2s rotateEarth infinite;
    
}
.hero__body{
    animation: scaleContent 1s ease-in-out ;

}
/* ==========================card styling ======================= */

  .card{
    border-radius: 5px;
    height: 100%;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    transition-duration: .5s;
  }
.card:hover{
    transform: translateY(-10px) scale(1.02);
    border-top: 5px solid var(--accentColor);

}
/* ==========================Footer styling ===================== */
.footer-content__heading{
    color: var(--primaryColor);
    padding-bottom: 2rem;
    font-size: 1.5rem;
}
.footer-content__label{
    color: var(--accentColor);
    font-size:.75rem;
    margin-bottom: .75rem;

}
.footer-content__body{
    color: var(--primaryColor);
}




footer{
    background-color: var(--backgroundColor);
    padding: 3rem 0;

}
.footer{
    display: flex;
    justify-content: space-between;
    /* margin: 2rem 0; */
}


/* contact */
.contact{
    width: 20%;
}

/* hours */
.hours{
  width: 48%;
}
.days{
    display: flex;
    justify-content: space-between;
}






/* Social */
.social{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social__body{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
}
.social__icon{
    height: 1.75rem;
    width: 1.75rem;
    /* padding: 0 .25rem; */
}







/* ========animations */

@keyframes slideDown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes rotateEarth {
    from{
        transform: rotate(360deg);   
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes scaleContent{
    from{
        transform-origin: center;
        transform:scale(75%,75%);
        opacity:0;
    }
    to{
        transform: scale(100%,100%);
        opacity: 1;
    }
}



/* =========responsiveness============== */
@media screen and (max-width:1080px ){
    .container--small{
        width: 90%;
    }

    .btn{
        width: 50% !important;
    }
}



@media screen and (max-width:860px){
    .footer ,.days{
        display: block;
    text-align: center;

    }
    .contact  , .hours , .social{
        width: 50%;
        margin: 0 auto;
    }
    .footer-content__heading{
        padding-bottom: .5rem;
        margin-top: 1.5rem;
    }
}
