:root{

    /* background colors */
    --backgroundColor :#FEFAF5;
    --backgroundNav:#ffffff;

    /* Colors */
    --primaryColor: #335576;
    --accentColor:#DB7A4E;

}

header{
    background-color: var(--backgroundColor);
}
.hero{
    display: flex;
    padding: 4rem 0;
    text-align: left;
}
.hero__body{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.hero__heading{
    font-size: 3rem;
    color: var(--primaryColor);
}
.hero__para{
    margin: 2rem 4rem 2rem 0;
    word-spacing: .25rem;
    line-height: 1.5;
    color: var(--primaryColor);
}

.btn{
    background-color: var(--accentColor);
    width: 25%;
    text-align: center;
    color: #fff;
    padding:.75rem 1.5rem;
    border-radius: 25px;
    position: relative;
    transition: .5s;
}

.btn:after{
    content:url("../assets/Icons/plane.png");
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25%;
    transition: 0.5s;
    margin-left: 4px;

}
.btn:hover{
    padding-left: .5rem;
}
.btn:hover::after{
    opacity: 1;
    right: 2%;
    padding-left: 1rem;

}


/* RECOMMENDATIONS SECTION */
.recommendations{
    padding :3rem 0;
}
.recommendations__title{
    margin-bottom: 2rem;
    color: var(--primaryColor);
}
.card-holder{
    display: flex;
    margin-bottom: 2rem;
}
.card{
 
    position:relative;
    /* margin:0 1.5rem; */
}
.a__middle{
    margin: 0 2rem;

}
.card__img{
    border-radius: 5px;
}

.card__heading{
    position:absolute;
    bottom: 1rem;
    right: 1rem;
    color: #fff;
    font-size: 1.5rem;
}